{% extends 'base.html.twig' %}

{% block title %}Détail du produit :
	{{ product.name }}
{% endblock %}

{% block body %}
	<section class="container mx-auto px-4 my-12">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<div class="flex flex-col space-y-4">
				{% set mainImage = product.productImages[0] %}
				<img id="main-product-image" class="w-full h-auto" src="{{ asset('uploads/images/products/' ~ mainImage.path) | imagine_filter('product_large') }}" alt="Image de {{ product.name }}">
				<div class="flex flex-row space-x-4 overflow-x-auto">
					{% for productImage in product.productImages %}
						<img class="w-20 h-auto cursor-pointer" src="{{ asset('uploads/images/products/' ~ productImage.path) | imagine_filter('product_thumbnail') }}" alt="Image de {{ product.name }}" onclick="changeMainImage(this)">
					{% endfor %}
				</div>
			</div>
			<div>
				<h1 class="text-3xl font-bold mb-4">{{ product.name }}</h1>
				<p class="text-xl font-bold text-gray-900 dark:text-white mb-4">{{ product.price }}€</p>

				<p class="mb-4">{{ product.description | raw }}</p>

				{# Tailles #}
				<div class="mb-4">
					<label for="size" class="block mb-2">Taille :</label>
					<select id="size" name="size">
						{% for size in product.sizes %}
							<option value="{{ size }}">{{ size }}</option>
						{% endfor %}
					</select>
				</div>

				{# Couleurs #}
				<div class="mb-4">
					<label for="color" class="block mb-2">Couleur :</label>
					<select id="color" name="color">
						{% for color in product.colors %}
							<option value="{{ color }}">{{ color }}</option>
						{% endfor %}
					</select>
				</div>

				{# Options de manches #}
				<div class="mb-4 sleeve-options-wrapper">
					<label for="sleeve" class="block mb-2">Option de manche :</label>
					<button id="sleeve-menu-button" class="fb-select relative bg-white border border-gray-300 rounded py-2 px-4 text-gray-700">
						<span id="selected-sleeve-option">-- Sélectionnez une option de manche --</span>
						<img id="selected-sleeve-thumbnail" class="sleeve-thumbnail" src="" alt="Selected sleeve option" style="display: none;">
						<span class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
							<i class="fas fa-chevron-down"></i>
						</span>
					</button>
					<button id="clear-sleeve-selection" class="fb-button fb-button-sm ml-2">Supprimer la sélection</button>
					<div id="sleeve-options-menu" class="hidden absolute w-full mt-1 rounded bg-white border border-gray-300">
						<div class="option-container">
							{% for sleeve in sleeves %}
								{% if sleeve.gender.id == product.gender.id %}
									<div class="sleeve-option-item cursor-pointer flex items-center px-4 py-2 hover:bg-gray-100" data-img-src="{{ asset('uploads/images/products/' ~ sleeve.productImages[0].path) | imagine_filter('product_thumbnail') }}">
										<img class="sleeve-thumbnail" src="{{ asset('uploads/images/products/' ~ sleeve.productImages[0].path) | imagine_filter('product_thumbnail') }}" alt="{{ sleeve.name }}">
										{{ sleeve.name }}
									</div>
								{% endif %}
							{% endfor %}
						</div>

					</div>
				</div>

			</div>

			<button class="fb-button fb-button-primary">Ajouter au panier</button>

		</div>
	</section>
{% endblock %}







