{% extends 'base.html.twig' %}

{% block title %}Détail du produit :
	{{ product.name }}
{% endblock %}

{% block body %}
	<section class="container mx-auto px-4 my-12">
		<div class="flex flex-wrap">
			<div
				class="w-full md:w-1/2">
				{# Image du produit #}
				<img src="{{ asset('uploads/images/products/' ~ product.productImages[0].path) | imagine_filter('product_thumbnail') }}" alt="Image de {{ product.name }}" class="w-full h-auto">
			</div>
			<div class="w-full md:w-1/2 px-4">
				<h2 class="text-3xl font-semibold mb-6">{{ product.name }}</h2>
				<p>{{ product.description }}</p>
				<div class="mt-8">
					<h3 class="text-xl font-semibold mb-4">Couleurs :</h3>
					<div class="flex flex-wrap">
						{% for color in product.colors %}
							<button class="w-8 h-8 rounded-full mr-2 mb-2" style="background-color: {{ color.hexCode }}"></button>
						{% endfor %}
					</div>
				</div>
				<div class="mt-8">
					<h3 class="text-xl font-semibold mb-4">Tailles :</h3>
					<div class="flex flex-wrap">
						{% for size in product.sizes %}
							<button class="fb-button fb-button-secondary mr-2 mb-2">{{ size.name }}</button>
						{% endfor %}
					</div>
				</div>
				{# Section pour les options de manche si le produit est une veste #}
				{% if product.sleeveOptions|length > 0 %}
				<div class="mt-8">
					<div class="relative inline-flex">
						<button id="sleeveOptionsDropdownButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
							Choisissez une option de manche
							<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
							</svg>
						</button>
						<div id="sleeveOptionsDropdownMenu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-56 mt-2 top-full left-0 absolute dark:bg-gray-700">
							<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
								{% for sleeveOption in product.sleeveOptions %}
									<li>
										<label class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
											<input class="hidden" type="radio" name="sleeveOption" value="{{ sleeveOption.sleeve.id }}">
											<img class="sleeve-thumbnail inline-block mr-2" src="{{ asset('uploads/images/products/' ~ sleeveOption.sleeve.itemImages[0].path) | imagine_filter('product_thumbnail') }}" alt="Image de {{ sleeveOption.sleeve.name }}">
											{{ sleeveOption.sleeve.name }}
										</label>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
				<div class="mt-8">
					<span class="text-2xl font-bold text-gray-900 dark:text-white">{{ product.price }}
						€</span>
					<button class="fb-button fb-button-primary ml-4">Ajouter au panier</button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}








