{% extends 'base.html.twig' %}

{% block title %}Détail du produit :
	{{ product.name }}
{% endblock %}

{% block body %}
	<section class="container mx-auto px-4 my-12">
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<!-- Product images container -->
			<div class="grid md:grid-cols-2 gap-2">
				{% set mainImage = product.productImages[0] %}
				<div>
					<img id="main-product-image" class="w-full h-[500px] object-cover main-product-image" src="{{ asset('uploads/images/products/' ~ mainImage.path) | imagine_filter('product_image') }}" alt="Image de {{ product.name }}">
				</div>
				<div id="thumbnail-images-container" class="flex flex-row gap-2 overflow-x-auto md:flex-col md:overflow-visible">
					{% for productImage in product.productImages %}
						<img class="w-24 h-auto cursor-pointer object-cover product-thumbnail" src="{{ asset('uploads/images/products/' ~ productImage.path) | imagine_filter('product_thumbnail') }}" data-large-image="{{ asset('uploads/images/products/' ~ productImage.path) | imagine_filter('product_image') }}" alt="Image de {{ product.name }}">
					{% endfor %}
				</div>
			</div>

			{# Product details section #}
			<div>
				{# Affiche le nom du produit #}
				<h1 class="text-3xl font-bold mb-4">{{ product.name }}</h1>
				<p class="text-xl font-bold text-gray-900 dark:text-white mb-4">{{ product.price }}€</p>
				<p class="mb-4">{{ product.description | raw }}</p>

				{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.size, 'Taille') }}
					{{ form_widget(form.size, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.size) }}
				</div>
				<div class="form-group">
					{{ form_label(form.color, 'Couleur') }}
					{{ form_widget(form.color, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.color) }}
				</div>
				<div class="form-group">
					{{ form_label(form.quantity, 'Quantité') }}
					{{ form_widget(form.quantity, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.quantity) }}
				</div>
				<div class="form-group">
					{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
				</div>
				{{ form_end(form) }}

				{# Sleeve options #}
				<div class="mb-4 sleeve-options-wrapper">
					<label for="sleeve-menu-button" class="block mb-2">Option de manche :</label>
					<button id="sleeve-menu-button" class="fb-select relative bg-white border border-gray-300 rounded py-2 px-4 text-gray-700">
						<span id="selected-sleeve-option">-- Sélectionnez une option de manche --</span>
						<img id="selected-sleeve-thumbnail" class="sleeve-thumbnail" src="" alt="Selected sleeve option" style="display: none;">
						<span class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
							<i class="fas fa-chevron-down"></i>
						</span>
					</button>
					<button id="clear-sleeve-selection" class="fb-button fb-button-sm ml-2">Supprimer la sélection</button>
					<div id="sleeve-options-menu" class="invisible absolute w-full mt-1 rounded bg-white border border-gray-300">
						<div class="option-container">
							{% for sleeve in sleeves %}
								{% if sleeve.gender.id == product.gender.id %}
									<div class="sleeve-option-item cursor-pointer flex items-center px-4 py-2 hover:bg-gray-100" data-img-src="{{ asset('uploads/images/products/' ~ sleeve.productImages[0].path) | imagine_filter('sleeve_thumbnail') }}">
										<img class="w-8 h-auto mr-1.5" src="{{ asset('uploads/images/products/' ~ sleeve.productImages[0].path) | imagine_filter('sleeve_thumbnail') }}" alt="{{ sleeve.name }}">
										{{ sleeve.name }}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}

